table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgb(202, 202, 202);
}

th{
    color: white;
    background-color: rgb(69, 167, 69);
    text-align: left;
    padding: 14px;
}

td{
    padding: 12px;
}