#i1{
    margin-left: 100px; 
    width: 150px;
}

#i2{
    margin-left: 103px;
    margin-top: 4px;
    width: 150px;
}


#i3{
    margin-left: 106px;
    margin-top: 4px;
    width: 131px;
}


#i4{
    margin-left: 84px;
    margin-top: 4px;
    width: 130px;
}

#i5{
    margin-left: 114px;
    margin-top: 4px;
    width: 151px;
}

#i6{
    margin-left: 139px;
    margin-top: 4px;
    width: 153px;
}

#i7{
    margin-left: 119px;
    margin-top: 4px;
    width: 50px;
}